@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold-Italic.woff2") format("woff2"), url("../fonts/Lato-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 588px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../img/header/fork_app.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.header .menu {
  display: none;
}

.header .logo-wrapper {
  position: absolute;
  top: 29.5px;
  left: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  color: #8d81ac;
}

.header .logo-wrapper .logo-title {
  margin: 0 0 8px 17px;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
}

.header .logo-wrapper:hover {
  color: #ffffff;
}

.header .buy-button {
  position: absolute;
  width: 145px;
  padding: 10px 20px;
  top: 31px;
  right: 90px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 17px;
  border-radius: 39px;
  color: #ffffff;
  background-color: #8d81ac;
}

.header .buy-button:hover {
  background-color: #ffffff;
  color: #8d81ac;
}

.header__nav {
  width: 100%;
  padding: 40px 283px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #8d81ac;
}

.header__nav .nav__list {
  width: 527px;
  padding: 3px 10px 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav .nav__list-link {
  font-size: 16px;
  line-height: 15px;
}

.header__nav .nav__list-link:hover {
  color: #ffffff;
}

.header-title {
  margin-top: 83px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 82px;
  line-height: 82px;
  text-align: center;
}

.header-text {
  margin-top: 19px;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  color: #8d81ac;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.header-subtitle {
  margin-top: 19px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
  text-align: center;
}

.header .download {
  position: absolute;
  left: 50%;
  top: 800px;
  transform: translate(-50%, -32px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header .download-button {
  width: 390px;
  padding: 20px 0;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
  background-color: #8d81ac;
  border-radius: 62px;
}

.header .download-button:hover {
  background-color: #ffffff;
  color: #8d81ac;
}

.header .download__info {
  margin-top: 19px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #848e97;
}

.section__editor {
  padding-bottom: 70px;
}

.section__editor-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 54px;
  line-height: 54px;
  color: #635c73;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
}

.section__editor-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section__editor-content {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 32px;
  color: #323232;
  text-align: center;
  width: 820px;
}

.section__editor-btn {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;
}

.section__editor__button {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.btn:not(:last-child) {
  border-radius: 0.25em 0 0 0.25em;
  border-color: rgba(27, 31, 36, 0.15);
  color: #24292f;
}

.widget {
  font-size: 0;
}

.btn1 {
  padding-right: 10px;
}

.btn,
.social-count {
  position: relative;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid;
  height: 26px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  background-color: #f6f8fa;
}

.social-count {
  color: #24292f;
  background-color: #fff;
  border-color: #ddddde;
  border-color: rgba(27, 31, 36, 0.15);
}

.social-count {
  border-left: 0;
  border-radius: 0 0.25em 0.25em 0;
}

.button_item {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  background-color: #f6f8fa;
  border: 1px solid rgba(27, 31, 36, 0.15);
  text-align: center;
}

svg {
  fill: #8b949e;
  line-height: 1.5;
  margin-right: 3px;
}

.text {
  color: #24292f;
  border-radius: 0.25em 0 0 0.25em;
}

.сounter {
  background-color: rgba(27, 31, 36, 0.08);
  border-radius: 2em;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
}

.section__here {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 98px;
  display: flex;
  background-color: #f4f4f4;
  justify-content: space-between;
  padding-bottom: 72px;
  overflow: hidden;
}

.section__here-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 50px;
  color: #8d81ac;
}

.section__here_features {
  max-width: 540px;
  height: 111px;
  display: flex;
}

.section__here_features:not(:last-child) {
  margin-bottom: 32.17px;
}

.section__here-icon1 {
  padding-right: 6px;
}

.section__here-icon2 {
  padding-right: 27px;
}

.section__here-icon3 {
  padding-right: 42px;
  padding-left: 16px;
}

.section__here-icon4 {
  padding-right: 36px;
  padding-left: 11px;
}

.section__here-card1 {
  width: 390.89px;
}

.section__here-cards {
  width: 405.89px;
}

.section__here-subtitle {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
}

.section__here-content {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
}

.section__here-screen {
  width: 100%;
  max-width: 660px;
}

.subtitle1 {
  margin-bottom: 16.86px;
}

.subtitle2 {
  margin-bottom: 16.27px;
}

.media-title {
  display: none;
}

.talking {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 108px 0 18.5px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../img/people_talking/testimonials.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 101%;
}

.talking-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}

.talking .grid {
  margin-top: 82px;
  width: 100%;
  max-width: 1189px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 315px));
  grid-template-rows: repeat(2);
  justify-content: space-between;
  row-gap: 109px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.talking .grid__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.talking .grid__item .logo-wrapper img {
  width: 100%;
}

.talking .grid__item__text {
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.talking__text {
  position: relative;
  width: 100%;
  max-width: 887px;
  margin-top: 114px;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  text-align: center;
}

.talking__text::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 18.5px);
  width: 100%;
  max-width: 780px;
  border: 1px solid #655766;
}

.section__subscription {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 0 73px;
  background-image: url(../img/subscription/pricing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
}

.section__subscription-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 61px;
}

.section__cards {
  display: flex;
  align-items: center;
}

.section__cards-item {
  width: 257px;
  height: 457px;
  background-color: rgba(255, 255, 255, 0.11);
}

.section__cards-part1 {
  display: flex;
}

.section__cards-part2 {
  display: flex;
  align-items: center;
}

.section__cards-item:first-child {
  margin-right: 15px;
}

.section__cards-itembig {
  width: 299px;
  height: 560px;
  margin: 0 15px;
}

.section__cards-title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 36px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06) !important;
}

.section__cards-price {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 90px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 30px;
}

.section__cards-pricebig {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 82px;
  line-height: 90px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 16px;
}

.section__cards-period {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.section__line {
  display: flex;
  justify-content: center;
}

.section__cards-description {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 36px;
  padding-bottom: 37px;
}

.section__cards-button {
  width: 163px;
  height: 45px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}

.line {
  border-bottom: 5px solid #8d81ac;
  width: 60px;
  padding-top: 38px;
  text-align: center;
}

.linebig {
  padding-top: 46px;
  margin-bottom: 10px;
}

.titlebig {
  background-color: rgba(0, 0, 0, 0.11);
  padding: 44px 96px;
}

.pricebig {
  background-color: rgba(70, 48, 72, 0.84);
  padding-bottom: 3px;
}

.btnbig {
  margin-bottom: 47px;
  margin-top: 46px;
}

.descards1 {
  padding-bottom: 62px !important;
}

.container {
  padding: 0 10px;
}

@media (min-width: 481px) and (max-width: 992px) {
  .header {
    padding-bottom: 540px;
  }

  .header .logo-wrapper {
    top: 22px;
    left: 20px;
  }

  .header .buy-button {
    top: 24px;
    right: 20px;
  }

  .header__nav {
    padding: 83px 0 14px;
    background-color: #27262a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .header__nav .nav__list {
    width: 100%;
    max-width: 517px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav .nav__list-link {
    line-height: 18px;
  }

  .header-title {
    margin-top: 69px;
    font-size: 82px;
    line-height: 72px;
  }

  .header-text {
    font-size: 24px;
    line-height: 24px;
  }

  .header-subtitle {
    font-size: 14px;
    line-height: 14px;
  }

  .section__editor {
    padding-bottom: 98px;
  }

  .section__editor-title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 42px;
    padding-bottom: 33px;
  }

  .section__editor-btn {
    padding-top: 24px;
  }

  .section__here-title {
    display: none;
  }

  .section__here {
    display: block;
    padding-top: 62px;
    padding-bottom: 0px;
    background-color: transparent;
  }

  .section__here_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__here_features {
    margin-bottom: 55px !important;
  }

  .section__here-content {
    max-width: 588px;
  }

  .media-title {
    display: block !important;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 44px;
    padding-bottom: 54px;
    text-align: center;
  }

  .screen {
    display: flex;
    justify-content: end;
  }

  .talking {
    max-width: 992px;
    padding: 86px 18px 19.5px 18px;
  }

  .talking-title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 44px;
  }

  .talking .grid {
    margin-top: 85px;
    grid-template-columns: repeat(2, minmax(150px, 315px));
    grid-template-rows: repeat(2);
    row-gap: 61.5px;
  }

  .talking .grid__item__text {
    font-size: 16px;
    line-height: 24px;
  }

  .talking__text {
    width: 100%;
    max-width: 704px;
    margin-top: 67px;
    font-size: 14px;
    line-height: 21px;
  }

  .talking__text::after {
    max-width: 780px;
  }

  .section__subscription {
    background-image: url(../img/subscription/pricing2.png);
    padding-top: 88px;
    padding-bottom: 94px;
    overflow: hidden;
  }

  .section__cards {
    flex-direction: column;
  }

  .section__subscription-title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 44px;
    padding-bottom: 39px;
  }

  .section__cards-item:first-child {
    margin-right: 25px;
  }

  .section__cards-part1 {
    margin-bottom: 30px;
  }

  .section__cards-part2 {
    margin-left: -53px;
  }

  .section__cards-itembig {
    margin-right: 25px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header .menu {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    display: block;
    right: 15px;
    top: 41px;
  }

  .header .menu .line-wrapper {
    position: relative;
    width: 26px;
    height: 21px;
  }

  .header .menu .line-wrapper .menu__line {
    position: absolute;
    right: 0;
    width: 26px;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    transition: 100ms ease-in-out;
  }

  .header .menu .line-wrapper .menu__line--first {
    width: 15px;
    top: 0;
  }

  .header .menu .line-wrapper .menu__line--first.hide {
    display: none;
  }

  .header .menu .line-wrapper .menu__line--second {
    top: 9px;
  }

  .header .menu .line-wrapper .menu__line--second.run-over {
    top: 50%;
    transform: translateY(-50%);
  }

  .header .menu .line-wrapper .menu__line--second.rotate-plus {
    transform: translateY(-50%) rotate(45deg);
  }

  .header .menu .line-wrapper .menu__line--third {
    top: 18px;
  }

  .header .menu .line-wrapper .menu__line--third.run-over {
    top: 50%;
    transform: translateY(-50%);
  }

  .header .menu .line-wrapper .menu__line--third.rotate-minus {
    transform: translateY(-50%) rotate(-45deg);
  }

  .header .logo-wrapper {
    z-index: 1;
    top: 31px;
    left: 16px;
  }

  .header .logo-wrapper .logo-title {
    display: none;
  }

  .header .buy-button {
    z-index: 1;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__nav {
    padding: 50px 0;
    background-color: #27262a;
    position: relative;
  }

  .header__nav .nav__list {
    position: absolute;
    max-width: 293px;
    padding: 0;
    background-color: #333333;
    left: 100%;
    transform: translateX(-298px);
    top: 100px;
    display: none;
  }

  .header__nav .nav__list-item {
    width: 100%;
    padding: 7.5px 0 7.5px 3px;
    border-top: 1.5px solid #3b3b3b;
    border-bottom: 1.5px solid #3b3b3b;
  }

  .header__nav .nav__list-link {
    display: inline-block;
    width: 100%;
    padding: 10.5px 0 10.5px 37px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 26px;
    line-height: 26px;
    border-left: 8px solid #333333;
  }

  .header__nav .nav__list-link:hover {
    border-left: 8px solid #8d81ac;
    color: #8d81ac;
  }

  .header__nav .nav__list.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header-title {
    margin-top: 49px;
    font-size: 48px;
    line-height: 48px;
  }

  .header-text {
    font-size: 18px;
    line-height: 24px;
  }

  .header-subtitle {
    margin-top: 14px;
    font-size: 14px;
    line-height: 14px;
  }

  .header .download-button {
    width: 290px;
    padding: 11.5px 0;
    font-size: 18px;
    line-height: 20px;
  }

  .header .download__info {
    line-height: 14px;
  }

  .section__editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 88px;
  }

  .section__editor-title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 27px;
  }

  .section__editor-content {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    width: 276px;
  }

  .section__editor-btn {
    padding-top: 36px;
  }

  .section__editor-btn {
    width: 300px;
  }

  .btn1 {
    padding-bottom: 20px;
  }

  .section__here-title {
    display: none;
  }

  .section__here {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 6px;
    align-items: center;
    text-align: center;
    background-color: transparent;
  }

  .section__here_features {
    flex-direction: column;
    align-items: center;
    height: 216px !important;
    width: 277px;
    margin-bottom: 73px !important;
  }

  .section__here-card1 {
    text-align: center;
    width: 277px;
  }

  .section__here-cards {
    text-align: center;
    width: 277px;
  }

  .section__here-subtitle {
    line-height: 16px;
    padding-top: 22px;
    padding-bottom: 14px;
  }

  .section__here-media-title {
    display: block;
  }

  .section__here-content {
    height: 77px;
  }

  .media-title {
    display: block !important;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 36px;
  }

  .screen {
    display: flex;
    justify-content: end;
  }

  .talking {
    max-width: 480px;
    padding: 57px 17px 22px 17px;
    background-size: auto 101%;
  }

  .talking-title {
    font-size: 36px;
    line-height: 48px;
  }

  .talking .grid {
    margin-top: 53px;
    width: 100%;
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    row-gap: 41px;
  }

  .talking .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .talking .grid__item .logo-wrapper img {
    width: 100%;
  }

  .talking__text {
    width: 100%;
    max-width: 410px;
    margin-top: 29px;
  }

  .talking__text::after {
    content: "";
    transform: translate(-50%, 21.5px);
    max-width: 410px;
  }

  .section__subscription {
    background-image: url(../img/subscription/pricing3.png);
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .section__subscription-title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 42px;
    padding-bottom: 32px;
    width: 320px;
  }

  .section__cards {
    flex-direction: column;
  }

  .section__cards-part1 {
    flex-direction: column;
    margin-bottom: 18px;
  }

  .section__cards-part2 {
    flex-direction: column;
  }

  .section__cards-item:first-child {
    margin-right: 0px;
    margin-bottom: 18px;
  }

  .section__cards-price {
    line-height: 62px;
    padding-bottom: 20px;
  }

  .section__cards-pricebig {
    line-height: 82px;
    padding-bottom: 16px;
  }

  .section__cards-itembig {
    margin-bottom: 18px;
  }

  .pricebig {
    padding-bottom: 0px;
  }
}