.talking {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 108px 0 18.5px 0;
  @include flex(flex-start, center, column);
  background: url(../img/people_talking/testimonials.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 101%;
  &-title {
    @include font-family-montserrat-700;
    font-size: $font-size-3xl;
    line-height: $line-height-6xl;
    color: $color-basic;
    text-align: center;
  }
  .grid {
    margin-top: 82px;
    width: 100%;
    max-width: 1189px;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 315px));
    grid-template-rows: repeat(2);
    justify-content: center;
    row-gap: 109px;
    column-gap: 100px;
    &__item {
      @include flex(space-between, center, column);
      .logo-wrapper img {
        width: 100%;
      }
      &__text {
        text-align: center;
        @include font-family-lato-700-italic;
        font-size: $font-size-4xs;
        line-height: $line-height-s;
        color: $color-basic;
      }
    }
  }
  &__text {
    position: relative;
    width: 100%;
    max-width: 887px;
    margin-top: 114px;
    @include font-family-lato-400;
    font-size: $font-size-6xs;
    line-height: $line-height-3xs;
    color: $color-talking-comment;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, 18.5px);
      width: 100%;
      max-width: 780px;
      border: 1px solid $color-talking-decor;
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .talking {
    max-width: 992px;
    padding: 86px 18px 19.5px 18px;
    &-title {
      @include font-family-montserrat-700;
      font-size: $font-size-2xl;
      line-height: $line-height-4xl;
    }
    .grid {
      margin-top: 85px;
      grid-template-columns: repeat(2, minmax(150px, 315px));
      grid-template-rows: repeat(2);
      row-gap: 61.5px;
      &__item {
        &__text {
          font-size: $font-size-4xs;
          line-height: $line-height-s;
        }
      }
    }
    &__text {
      width: 100%;
      max-width: 704px;
      margin-top: 67px;
      font-size: $font-size-6xs;
      line-height: $line-height-3xs;
      &::after {
        max-width: 780px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .talking {
    max-width: 480px;
    padding: 57px 17px 22px 17px;
    background-size: auto 101%;
    &-title {
      font-size: $font-size-xl;
      line-height: $line-height-5xl;
    }
    .grid {
      margin-top: 53px;
      width: 100%;
      max-width: 480px;
      display: grid;
      grid-template-columns: repeat(1, minmax(min-content, 1fr));
      row-gap: 41px;
      &__item {
        @include flex(space-between, center, column);
        .logo-wrapper img {
          width: 100%;
        }
      }
    }
    &__text {
      width: 100%;
      max-width: 410px;
      margin-top: 29px;
      &::after {
        content: "";
        transform: translate(-50%, 21.5px);
        max-width: 410px;
      }
    }
  }
}
