.section {

    &__editor {
        padding-bottom: 70px;
    }
    
    &__editor-title {
        @include font-family-montserrat-700;
        font-size: $font-size-4xl;
        line-height: $line-height-7xl;
        color: $color-editor-title;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 35px;
    }

    &__editor-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    &__editor-content {
        @include font-family-lato-400;
        font-size: $font-size-2xs;
        line-height: $line-height-xl;
        color: $color-editor-content;
        text-align: center;
        width: 820px;
    }

    &__editor-btn {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 16px;
    }
    
    &__editor__button {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

.btn:not(:last-child) {
    border-radius: 0.25em 0 0 0.25em;
    border-color: rgba(27,31,36,.15);
    color: #24292f;
}

.widget {
    font-size: 0;
}

.btn1 {
    padding-right: 10px;
}

.btn, .social-count {
    position: relative;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    height: 14px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    vertical-align: bottom;
    cursor: pointer;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid;
    height: 26px;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    background-color: #f6f8fa; 
    
}

.social-count {
    color: #24292f;
    background-color: #fff;
    border-color: #ddddde;
    border-color: rgba(27,31,36,.15);
}

.social-count {
    border-left: 0;
    border-radius: 0 0.25em 0.25em 0;
}

.button_item {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    background-color: #f6f8fa;  
    border: 1px solid rgba(27,31,36,0.15);
    text-align: center;   
}

svg {   
    fill: #8b949e;
    line-height: 1.5;  
    margin-right: 3px;
} 

.text {
    color: #24292f;
    border-radius: 0.25em 0 0 0.25em;
}

.сounter {
    background-color: rgba(27,31,36,0.08);
    border-radius: 2em;
    display: inline-block;
    padding: 0 6px;
    text-align: center;
}

@media (min-width: 481px) and (max-width: 992px) {

    .section {

        &__editor {
            padding-bottom: 98px;
        }
        &__editor-title {
            @include font-family-montserrat-700;
            font-size: $font-size-2xl;
            line-height: $line-height-3xl;
            padding-bottom: 33px;
        }

        &__editor-btn {
            padding-top: 24px;
        }        
    } 
}  

@media (max-width: 480px) {

    .section {

        &__editor {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 88px;
            overflow: hidden;
        }

        &__editor-title {
            @include font-family-montserrat-700;
            font-size: $font-size-s;
            line-height: $line-height-l;
            padding-bottom: 27px;
        }

        &__editor-content {
            @include font-family-lato-400;
            font-size: $font-size-6xs;
            line-height: $line-height-4xs;
            width: 276px;
        }

        &__editor-btn {
            padding-top: 36px;
        }

        &__editor-btn {
            width: 300px;
        }    
    } 

    .btn1 {
        padding-bottom: 20px;
    }
}   