.section {

    &__here {
    
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }

    &__here-title {
        @include font-family-montserrat-700;
        font-size: $font-size-3xl;
        line-height: $line-height-6xl;
        color: $color-nav-hover;
    }

    &__here_features {
        width: 540px;
        height: 111px;
        display: flex;
        margin-bottom: 32.17px;
    }

    &__here-icon1 {
        padding-right: 23px;
    }

    &__here-icon2 {
        padding-right: 44px;
    }

    &__here-icon3 {
        padding-right: 59px;
        padding-left: 16px;
    }

    &__here-icon4 {
        padding-right: 53px;
        padding-left: 11px;
    }

    &__here-card1 {
        width: 390.89px;
    }

    &__here-cards {
        width: 405.89px;
    }

    &__here-subtitle {
        @include font-family-montserrat-400;
        font-size: $font-size-4xs;
        line-height: $line-height-3xs;
        color: $color-editor-content;
    }

    &__here-content {
        @include font-family-montserrat-400;
        font-size: $font-size-6xs;
        line-height: $line-height-3xs;
        color: $color-comment;
    }
}

.subtitle1 {
    margin-bottom: 16.86px;
}

.subtitle2 {
    margin-bottom: 16.27px;
}
