// Font size
$font-size-6xs: 14px;
$font-size-5xs: 15px;
$font-size-4xs: 16px;
$font-size-3xs: 18px;
$font-size-2xs: 21px;
$font-size-xs: 24px;
$font-size-s: 26px;
$font-size-m: 28px;
$font-size-l: 30px;
$font-size-l-xl: 32px;
$font-size-xl: 36px;
$font-size-2xl: 42px;
$font-size-3xl: 48px;
$font-size-4xl: 54px;
$font-size-5xl: 60px;
$font-size-6xl: 72px;
$font-size-7xl: 82px;
// Font weight
$font-weight-m: 400;
$font-weight-l: 700;
// Line height
$line-height-9xs: 14px;
$line-height-8xs: 15px;
$line-height-7xs: 16px;
$line-height-6xs: 17px;
$line-height-5xs: 18px;
$line-height-4xs: 20px;
$line-height-3xs: 21px;
$line-height-2xs: 22px;
$line-height-xs: 23px;
$line-height-s: 24px;
$line-height-m: 26px;
$line-height-l: 28px;
$line-height-l-xl: 30px;
$line-height-xl: 32px;
$line-height-2xl: 38px;
$line-height-3xl: 42px;
$line-height-4xl: 44px;
$line-height-5xl: 48px;
$line-height-6xl: 50px;
$line-height-7xl: 54px;
$line-height-8xl: 62px;
$line-height-9xl: 72px;
$line-height-10xl: 82px;
$line-height-11xl: 90px;
// Font colore
$color-basic: #ffffff;
$color-nav-hover: #8d81ac;
$color-nav-993: #27262a;
$color-nav-480: #333333;
$color-nav-480-border: #3b3b3b;
$color-comment: #848e97;
$color-editor-title: #635c73;
$color-editor-content: #323232;
$color-talking-comment: #a291a5;
// Bacground & border color
$color-editor-btn-bg: #21262d;
$color-editor-btn-border: rgba(240, 246, 252, 0.1);
$color-talking-comment: #a291a5;
$color-talking-decor: #655766;
